<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head'); -%>
<body class="bg-light">
    <%- include('layouts/header'); -%>
   <main class="mt-5">
       <div class="container mt-5">
           <div class="container bg-light">
               <div class="contributor-profile">
                   <div class="row">
                        <div class="contributor-image col-1">
                            <img src="/images/thought-catalog-o0Qqw21-0NI-unsplash.jpg" class="img-fluid rounded-circle" alt="contributor-image" style="height:60px; width: 60px;">
                        </div>
                        <div class="contributor-info col">
                            <p class="fst-italic">By <%= singleBlogpost.contributorID.firstname %></p>
                            <p class="fst-italic">On <%= singleBlogpost.datePosted.toDateString() %></p>
                        </div>
                    </div>
               </div>
               <div class="blog">
                <div class="container ImageWithText mb-3">
                        <img src="<%= singleBlogpost.blogImage %>" class="card-img-top" alt="andrew" style="height:300px; width: 100%;">
                    </div>
                </div>
                   <h3 class="blog-title"><%= singleBlogpost.blogTitle %></h3>
                   <div class="blog-details mb-3">
                       <%= singleBlogpost.blogDetails %>
                       </div>
               </div>
           </div>
       </div>
   </main>

    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</body>
</html>