<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head'); -%>
<body class="bg-light">
    <%- include('layouts/header'); -%>
    
    <main>
        <div class="container ImageWithText mb-3">
            <img src="/images/thought-catalog-o0Qqw21-0NI-unsplash.jpg" class="img-fluid" alt="Stacked books" style="height:500px; width: 100%;">
            <div id="textOnImage">
                <h3>Blogs</h3>
                <h2>My first Blog</h2>
                <p>August 23, 2022</p>
            </div>
        </div>
        <div class="container mb-3 bg-light">
            <div class="row d-flex justify-content-between flex-wrap">
                <!-- using ejs to inject data from the server to the index -->
                <% for (var i = 0; i < allBlogposts.length; i++ ) { %>
                <div class="card me-2 mb-3" style="width: 18rem;">
                    <img src='<%= allBlogposts[i].blogImage %>' class="card-img-top" alt="andrew" style="height: 10rem;">
                    <div class="card-body">
                    <h5 class="card-title">
                         <%= allBlogposts[i].blogTitle %>
                    </h5>
                    <small class="card-subtitle mb-2 text-muted"> <%= allBlogposts[i].contributorID.firstname %> </small>,
                    <small class="card-subtitle mb-2 text-muted"><%= allBlogposts[i].datePosted.toDateString() %></small>
                    <p class="card-text">
                        <%= allBlogposts[i].blogDetails %>
                    </p>
                    <a href="/blog/<%=allBlogposts[i].id %>" class="btn btn-primary">Read more</a>
                    </div>
                </div>
                <%} %>
            </div>
        </div>
    </main>

    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
    
</body>
</html>